:root {
  --background: radial-gradient(#8349ff, #36399a);
  --green-gradient: linear-gradient(#52d93d, #089562);
  --red-gradient: linear-gradient(#d93d3d, #95084c);
  --purple-gradient: linear-gradient(#6258d6, #781bc0);
  --purplegreen-gradient: linear-gradient(#7b61ff, #089562);
  --gray: #c4c4c4;
  --dark-gray: #717171;
  --purple: #7b61ff;
  --purple-blue: #6367ff;
  --violet: #4129B8;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.btn-primary {
  background: var(--green-gradient);
  border: none;
  border-radius: 99px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 25px;
  transform: translateY(0%);
  transition: .2s;
}

.btn-primary:hover:not(.btn-primary:disabled) {
  transform: translateY(-5%);
}

.btn-primary:disabled {
  background: linear-gradient(var(--gray), var(--dark-gray));
  cursor: not-allowed;
}

.visible .answer-btn-cor {
  background: var(--green-gradient);
  border: 3px solid rgb(6, 240, 15);
}

.visible .answer-btn-inc {
  background: var(--red-gradient);
  border: 3px solid red;
}

